{% extends 'base.html.twig' %}

{% block title parent() ~ ' | ' ~ 'Welcome'|trans %}

{% block content %}
    <h2>{{ 'Access your player account'|trans }}</h2>

    {% if last_error %}
        <div>{{ last_error.messageKey|trans(last_error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login_check') }}" method="post">
        <label for="username">{{ 'Username:'|trans }}</label>
        <input type="text" id="username" name="player_username" value="{{ last_username }}" />

        <label for="password">{{ 'Password:'|trans }}</label>
        <input type="password" id="password" name="player_password" />
        <input type="hidden" id="token" name="auth_player_token" value="{{ csrf_token('authenticate_player') }}" />

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}



            <button type="submit">{{ 'login'|trans }}</button>
    </form>
{% endblock %}
