<div id="header">
    <div id="logo">
        <h1>
            <a href="{{ path('app_main_index') }}">{{ 'Hangman'|trans }}</a>
        </h1>
    </div>
    <div id="menu">
        <ul>
            <li class="first current_page_item">
                <a href="{{ path('app_game_index') }}">{{ 'Game'|trans }}</a>
            </li>
            {% if app.user %}
                <li>
                    <a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_main_register') }}">{{ 'Register'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('app_security_login') }}">{{ 'Login'|trans }}</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('app_main_contact') }}">{{ 'Contact'|trans }}</a>
            </li>
        </ul>
        <br class="clearfix" />
    </div>
</div>
