{% extends 'base.html.twig' %}

{% block title parent() ~ ' | ' ~ 'Welcome'|trans %}

{% block content %}
    <h2>{{ 'Register'|trans }}</h2>

    {{ form(registration_form, { 'attr': { 'novalidate': '' } }) }}
{% endblock %}
