<div id="sidebar">
    <h3>{{ 'Last Games'|trans }}</h3>
    <div class="date-list">
        <ul class="list date-list">
            {% for date, game in games %}
                <li class="{{ loop.first ? 'first' : (loop.last ? 'last') }}">
                    <span class="date">{{ date }}</span> <a href="#">{{ game }}</a>
                </li>

            {% endfor %}
        </ul>
    </div>
    <h3>{{ 'Last players'|trans }}</h3>
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
</div>
