{% extends 'base.html.twig' %}

{% block title parent() ~ ' | ' ~ 'You failed!'|trans %}

{% block content %}
    <h2>{{ 'Game Over!'|trans }}</h2>

    <p>
        {% trans with { '%word%': 'toto' } %}
            Oops, you're hanged... The word to guess was <strong>xilophon</strong>.
        {% endtrans %}
    </p>
{% endblock %}
