{% extends 'base.html.twig' %}

{% block title parent() ~ ' | ' ~ 'You won!'|trans %}

{% block content %}
    <h2>{{ 'Congratulations!'|trans }}</h2>

    <p>
        {% trans with { '%word%': 'toto' } %}
            You found the word <strong>software</strong> and won this game.
        {% endtrans %}
    </p>
{% endblock %}
